<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>Servlets.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetailerDashboardSerlvet</servlet-name>
        <servlet-class>Servlets.RetailerDashboardSerlvet</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>AddToBasketServlet</servlet-name>
        <servlet-class>Servlets.AddToBasketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBasketServlet</servlet-name>
        <servlet-class>Servlets.ViewBasketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>Servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutServlet</servlet-name>
        <servlet-class>Servlets.checkoutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SubscribeServlet</servlet-name>
        <servlet-class>Servlets.SubscribeUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMessageServlet</servlet-name>
        <servlet-class>Servlets.DeleteMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/CreateProductServlet-URL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddRetailerServlet</servlet-name>
        <servlet-class>Servlets.AddRetailerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRetailerServlet</servlet-name>
        <url-pattern>/AddRetailerServlet-URL</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>Servlets.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProductServ</servlet-name>
        <servlet-class>Servlets.UpdateProductServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductServ</servlet-name>
        <url-pattern>/UpdateProductServ</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>Servlets.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetailerDashboardSerlvet</servlet-name>
        <url-pattern>/RetailerDashboardSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>AddToBasketServlet</servlet-name>
        <url-pattern>/AddToBasketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBasketServlet</servlet-name>
        <url-pattern>/ViewBasketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutServlet</servlet-name>
        <url-pattern>/checkoutServlet</url-pattern>
      </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SubscribeServlet</servlet-name>
        <url-pattern>/SubscribeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMessageServlet</servlet-name>
        <url-pattern>/DeleteMessageServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
			30
		</session-timeout>
    </session-config>
</web-app>
